# Used by logger, drizzle for local setup
ENVIRONMENT="development"

# Random value used for encryption and generating hashes
# Generate with: `bunx @better-auth/cli secret` or with: `openssl rand -base64 32`
BETTER_AUTH_SECRET=our-secret-here
# Base url of the app
BETTER_AUTH_URL=http://localhost:7676 # Base URL of your app

# GitHub OAuth app creds
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# AI configuration
ANTHROPIC_API_KEY=
OPENAI_API_KEY=